<!DOCTYPE html>
<html>

<head>
    <title>Access Granted!</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/global.css">
</head>

<body>
    <div class="form-container">
        <form action="/" method="GET">
            <ul class="list">
                <li>
                    <h2>The door will be unlocked if the otp is entered correctly.<h2>
                </li>
                <li><button type="Submit" class="btn btn-danger">Logout here!</button></li>
            </ul>
        </form>
    </div>
</body>

</html>