<!DOCTYPE html>
<html>

<head>
    <title>OTP</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/global.css">
</head>

<body>
    <div class="form-container">
        <form action="/controlPage" method="post">
            <ul class="list">
                <li>
                    <h2>Here's the key to your house<h2>
                </li>
                <li><button type="Submit" class="btn btn-danger">Submit</button></li>
            </ul>
        </form>
    </div>
</body>

</html>