<!DOCTYPE html>
<html>

<head>
    <title>OTP</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/global.css">
</head>

<body>
    <div class="form-container">
        <form action="/otpPost" method="POST">
            <ul class="list">
                <li><h2>Please key in the 6 digit number!<h2></li>
                <li><input type="text" name="otp" placeholder="otp" required></li>
                <li><button type="Submit" class="btn btn-danger">Submit</button></li>
            </ul>
        </form>
    </div>
</body>

</html>