<!DOCTYPE html>
<html>

<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/global.css">
</head>

<body>
    <div class="form-container">
        <form action="/registerPost" method="POST">
            <ul class="list">
                <li>
                    <h2>Member registration<h2>
                </li>
                <li><input type="text" name="Username" placeholder="Username" required></li>
                <li><input type="email" name="Email" placeholder="Email" required></li>
                <li><input type="password" name="Password" placeholder="Enter Password!" required></li>
                <li><button type="Submit" class="btn btn-danger">Register</button></li>
            </ul>
        </form>
    </div>
</body>

</html>